/session*
/saveplace
/smex*
/bookmarks
/company-stat*
/ido*
/places
/.cache
/emojis
/xkcd
/games
/request
*~
/auto-save-list
/transient
/recentf
/eshell
/url
/#*
/.org*
/network*
/tramp
/viper
*.elc
*.lsp*
*.sqlite